* {
  /* background-color: black; #2affbd;*/
  /* --accent-main: rgba(42, 255, 189, 1); */
  /* --accent-main: #039668;
  --accent-alt: rgba(255, 92, 0, 1);
  --env-accent: #090709;
  --txt-accent: rgb(245, 245, 247); */
  /* box-sizing: border-box; */
  margin: 0;
}

.discover {
  width: 350px;
  height: 50%;
  background-color: rgba(9, 7, 9, 0.2);
  position: relative;
  top: 23%;
  left: -15%;
  margin: 0 auto;
  overflow: hidden;
}

.comet-btn {
  position: relative;
  top: 50%;
  left: 28%;
  animation: dim-btn 6.5s linear infinite alternate-reverse;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.4rem 2.4rem;
  border-radius: 5px;

  font-family: inherit;
}

.comet-btn:link,
.comet-btn:visited {
  /* background-color: rgba(42, 255, 189, 0.6); */

  color: var(--txt-accent);
}

.comet-btn:hover,
.comet-btn:active {
  background-color: rgba(42, 255, 189, 0.5);
  color: var(--txt-accent);
  animation: none;
}

.txt {
  /* width: 100%; */
  font-size: 28px;
  font-weight: 600;
  position: relative;
  color: var(--accent-main);
  top: 15%;
  text-align: center;
  animation: dim 6.5s linear infinite alternate-reverse;
  /* left: -70%; */
}

.comet {
  width: inherit;
  height: 2.5px;
  background: linear-gradient(
    90deg,
    rgba(9, 7, 1, 1) 0,
    rgba(255, 92, 0, 0.1) 10%,
    rgba(255, 92, 0, 1) 100%
  );
  position: relative;

  top: 25%;
  left: -95%;

  margin-top: 5%;

  animation: move-txt 2s linear infinite;
}

@keyframes move-txt {
  0% {
    /* transform: translateX(0%); */
  }

  100% {
    /* transform: translateX(100%); */
    left: 100%;
  }
}

@keyframes dim {
  0% {
    color: rgba(42, 255, 189, 0.8);
  }

  50% {
    color: rgba(255, 92, 0, 0.8);
  }

  100% {
    color: rgba(142, 144, 90, 0.3);
  }
}

@keyframes dim-btn {
  0% {
    background-color: rgba(42, 255, 189, 0.8);
    color: rgb(245, 245, 247, 1);
  }

  50% {
    background-color: rgba(255, 92, 0, 0.8);
    color: rgb(245, 245, 247, 1);
  }

  100% {
    background-color: rgba(142, 144, 90, 0.3);
    color: rgb(245, 245, 247, 0.2);
  }
}

/*************** Queries ***********************************/

@media (max-width: 59em) {
  .comet-btn {
    left: 0;
  }
}

@media (max-width: 44rem) {
  .line-container {
    /* left: 10%; */
    --root_height: 160px;
  }

  .discover {
    width: 220px;
    left: -10%;
  }

  .comet-btn {
    position: relative;
    top: 50%;
    left: 0;
  }

  .txt {
    font-size: 24px;
  }

  .txt,
  .comet {
    transform: scale(0.8);
  }
}

/*************** Lines Animations ************************/

#lines-root {
  width: 100%;
  height: 100%;
  position: relative;
  /* background-color: rgba(9, 7, 9, 1); */
  /* background-color: #2a242a; */
  --width: max(0.25vw, 3.5px);
  --root_height: 285px;
  overflow: hidden;
}

.line-container {
  position: absolute;
  width: var(--width);
  height: var(--root_height);
  left: 35%;
  /* transform: translateY(-50%); */
  transform: translateY(-50%) rotate(60deg);
}

.line {
  width: 100%;
  height: 100%;
  animation: scale ease-in-out infinite;
}

.lineCorner {
  position: absolute;
  left: 0;
  margin-top: -0.5px;
  width: var(--width);
  height: var(--width);
  animation: move ease-in-out infinite;
}

.line-orange {
  background: linear-gradient(
    230deg,
    rgba(9, 7, 9, 1) 0,
    rgba(255, 92, 0, 0.1) 10%,
    rgba(255, 92, 0, 1) 100%
  );
  animation-direction: alternate;
  animation-duration: 5s;
}
.line-blue {
  background: linear-gradient(
    230deg,
    rgba(9, 7, 9, 1) 0,
    rgba(42, 255, 189, 1) 10%,
    rgba(42, 255, 189, 1) 100%
  );
  animation-direction: alternate-reverse;
  animation-duration: 6.5s;
}

.line.line-orange ~ .lineCorner {
  background: linear-gradient(
    225deg,
    rgba(255, 92, 0, 1) -10%,
    rgba(255, 92, 0, 1) 50%,
    rgba(255, 92, 0, 0) 50%,
    rgba(255, 92, 0, 0) 100%
  );
  animation-direction: alternate;
  animation-duration: 5s;
}
.line.line-blue ~ .lineCorner {
  background: linear-gradient(
    225deg,
    /* rgba(0, 209, 255, 1) -10%,
    rgba(0, 209, 255, 1) 50%, */
      rgba(42, 255, 189, 1) -10%,
    rgba(42, 255, 189, 1) 50%,
    rgba(0, 209, 255, 0) 50%,
    rgba(0, 209, 255, 0) 100%
  );
  animation-direction: alternate-reverse;
  animation-duration: 6.5s;
}
@keyframes scale {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.5);
  }
}
@keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(var(--root_height) / 4 * -1));
  }
}
